// Primary
$Light-red: hsl(356, 100%, 66%); // (CTA text)
$Very-light-red: hsl(355, 100%, 74%); // (CTA hover background)
$Very-dark-blue: hsl(208, 49%, 24%); // (headings)

// Neutral
$White: hsl(0, 0%, 100%); // (text)
$Grayish-blue: hsl(240, 2%, 79%); // (footer text)
$Very-dark-grayish-blue: hsl(207, 13%, 34%); //  (body copy)
$Very-dark-black-blue: hsl(240, 10%, 16%); // (footer background)

// Gradient
// Background gradient - Intro/CTA mobile nav:
$Very-light-red-1: hsl(13, 100%, 72%);

// Background gradient - body:
$Very-dark-gray-blue: hsl(237, 17%, 21%);
$Very-dark-desaturated-blue: hsl(237, 23%, 32%);

@mixin keyframes($animation-name) {
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
    -webkit-animation: #{$str};
    animation: #{$str};
}

@include keyframes(scale-down) {
    0% {
        scale: 100%;
    }
    100% {
        scale: 20%;
    }
}

@include keyframes(rotation) {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(180deg);
    }
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    margin: 0;

    .header_wrapper {
        background-image: url("images/bg-pattern-intro-desktop.svg"),
            linear-gradient(130deg, $Very-light-red-1 50%, $Light-red);
        background-position: 25.3% 52.2%; // x%, y%
        background-repeat: no-repeat;
        background-size: auto;
        min-height: 66.6dvh;
        padding-inline: 10.25rem;
        border-bottom-left-radius: 6.2rem;
        font-family: "Ubuntu", sans-serif;

        .header__nav {
            display: flex;
            align-items: center;
            padding-block: 3.95rem;
            column-gap: 4rem;

            .header_logo {
                width: 7.65rem;
            }

            .sub_header_nav {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                width: 100%;

                .header_nav_wrapper {
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    padding-top: 0.8rem;
                    font-weight: 700;
                    font-size: 1rem;
                    gap: 2rem;
                    color: $White;

                    .header_dropdown_product,
                    .header_dropdown_company,
                    .header_dropdown_connect {
                        .header_dropdown_product_content,
                        .header_dropdown_company_content,
                        .header_dropdown_connect_content {
                            position: absolute;
                            top: auto;
                            opacity: 0;
                            cursor: pointer;
                            background-color: $White;
                            margin-top: 0.7rem;
                            width: 190px;
                            padding-inline: 3rem;
                            padding-block: 1.5rem;
                            border-radius: 0.5rem;
                            transition: 0.3s linear;

                            ul {
                                li {
                                    margin-bottom: 0.8rem;

                                    a {
                                        color: $Very-dark-black-blue;
                                        font-weight: 400;

                                        &:hover {
                                            font-weight: 700;
                                        }
                                    }
                                }
                            }

                            &.active {
                                position: absolute;
                                top: auto;
                                opacity: 1;
                            }
                        }
                    }

                    .dropdown_label_wrapper {
                        display: flex;
                        justify-content: flex-start;
                        align-items: baseline;

                        .dropdown_category {
                            padding-right: 0.4rem;
                            cursor: pointer;
                            background-color: transparent;
                            color: $White;
                            font-weight: 700;
                            font-size: 1rem;

                            &::after {
                                content: "";
                                display: block;
                                border-bottom: 2px solid $White;
                                transform: scaleX(0);
                                transform-origin: left;
                                transition: 0.2s linear;
                            }

                            &:hover,
                            &:active {
                                &::after {
                                    transform: scaleX(1);
                                }
                            }
                        }

                        .dropdown_arrow_sign {
                            transition: all 0.2s linear;
                            background-color: transparent;

                            &.rotate {
                                transform: rotate(180deg);
                            }
                        }
                    }
                }

                .header_button {
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-start;
                    margin-top: -0.3rem;
                    font-family: "Ubuntu", sans-serif;

                    .header_button-login {
                        background-color: transparent;
                        color: $White;
                        padding: 1rem 1.8rem;
                        font-size: 1rem;
                        font-weight: 700;

                        &:active {
                            @include animation("scale-down 0.1s");
                        }
                    }

                    .header_button-sign-up {
                        background-color: $White;
                        color: $Light-red;
                        padding: 0.95rem 2.35rem;
                        border-radius: 25px;
                        font-size: 1rem;
                        font-weight: 700;

                        &:hover {
                            background-color: hsla(0, 0%, 100%, 0.251);
                            color: $White;
                        }

                        &:active {
                            @include animation("scale-down 0.1s");
                        }
                    }
                }
            }

            .hamburger_menu {
                display: none;
            }
        }

        .header_intro_wrapper {
            font-family: "Overpass", sans-serif;
            color: $White;

            .header_intro {
                margin-top: 3.8rem;
                text-align: center;
                font-size: 3.76rem;
                font-weight: 500;
                letter-spacing: -0.019rem;
            }

            .sub_header_intro {
                margin-top: 1rem;
                text-align: center;
                font-size: 1.23rem;
            }
        }

        .header_button_intro {
            display: flex;
            justify-content: center;
            margin-top: 2.85rem;
            gap: 1rem;
            font-family: "Ubuntu", sans-serif;
            cursor: pointer;

            .button_intro_left {
                background-color: $White;
                color: $Light-red;
                padding: 0.95rem 1.13rem;
                border-radius: 25px;
                font-size: 1rem;
                font-weight: 700;

                &:hover {
                    background-color: hsla(0, 0%, 100%, 0.251);
                    color: $White;
                }

                &:active {
                    @include animation("scale-down 0.1s");
                }
            }

            .button_intro_right {
                background-color: transparent;
                color: $White;
                border: 1px solid $White;
                border-radius: 25px;
                padding: 0.95rem 1.5rem;
                font-size: 1rem;
                font-weight: 700;

                &:hover {
                    background-color: $White;
                    color: $Light-red;
                }

                &:active {
                    @include animation("scale-down 0.1s");
                }
            }
        }
    }

    .main_wrapper {
        font-family: "Overpass", sans-serif;
        background-image: url("images/illustration-editor-desktop.svg");
        background-position: 153.3% 13.5%;
        background-repeat: no-repeat;
        background-size: auto;

        .first_title {
            text-align: center;
            font-size: 2.34rem;
            font-weight: 500;
            letter-spacing: -0.009rem;
            padding-block-start: 9.7rem;
            color: $Very-dark-gray-blue;
        }

        .first_description_wrapper_detail {
            padding-top: 6.5rem;
            padding-inline-start: 10.3rem;

            .first_description_detail {
                .first_description_title {
                    font-size: 1.74rem;
                    font-weight: 500;
                    color: $Very-dark-gray-blue;
                }

                .first_description_content {
                    padding-top: 1.68rem;
                    font-size: 0.88rem;
                    line-height: 1.62;
                    max-width: 534px;
                    color: hsla(206, 13%, 34%, 0.719);
                    margin-bottom: 4.8rem;
                }
            }
        }

        .main_wrapper-description_state_of_art_wrapper {
            margin-block-start: 16rem;
            background-color: $Very-dark-blue;
            background-image: url("images/bg-pattern-circles.svg");
            background-size: 70% auto;
            background-repeat: no-repeat;
            background-position: -49% 82%;
            border-top-right-radius: 6.3rem;
            border-bottom-left-radius: 6.3rem;
            min-height: 44.5dvh;
            position: relative;

            .description_state_of_art_wrapper-detail {
                margin-inline-start: 46rem;
                padding-block-start: 7.3rem;
                color: $White;
                max-width: 570px;

                .description_state_of_art {
                    font-size: 2.33rem;
                    font-weight: 500;
                }

                .description_state_of_art_content {
                    padding-block-start: 1.4rem;
                    font-size: 1.055rem;
                    line-height: 1.6;
                    width: 550px;
                }
            }

            .illustration-phones-img {
                position: absolute;
                top: -4.25rem;
                left: 7.8rem;
            }
        }
    }

    .footer_wrapper {
        .attribution {
            font-size: 11px;
            text-align: center;

            a {
                color: hsl(228, 45%, 44%);
            }
        }
    }
}

// Media Query
@media (max-width: 1200.98px) {
    body {
        .header_wrapper {
            padding-inline: 5rem;
        }
    }
}

@media (max-width: 950.98px) {
    body {
        .header_wrapper {
            padding-inline: 3.5rem;

            .header__nav {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                width: 100%;
                column-gap: 3rem;
            }
        }
    }
}

@media (max-width: 810.98px) {
    body {
        .header_wrapper {
            padding-inline: 3.5rem;

            .header__nav {
                .header_logo {
                    width: 9rem;
                }

                .sub_header_nav {
                    .header_nav_wrapper {
                        display: none;
                        align-items: flex-start;
                        justify-content: flex-start;
                        padding-top: 0.8rem;
                        font-weight: 700;
                        font-size: 1rem;
                        gap: 2rem;
                        color: $White;

                        .header_dropdown_product,
                        .header_dropdown_company,
                        .header_dropdown_connect {
                            .header_dropdown_product_content,
                            .header_dropdown_company_content,
                            .header_dropdown_connect_content {
                                position: absolute;
                                top: auto;
                                opacity: 0;
                                cursor: pointer;
                                background-color: $White;
                                margin-top: 0.7rem;
                                width: 190px;
                                padding-inline: 3rem;
                                padding-block: 1.5rem;
                                border-radius: 0.5rem;
                                transition: 0.3s linear;
                            }
                        }

                        .dropdown_label_wrapper {
                            display: flex;
                            justify-content: flex-start;
                            align-items: baseline;

                            .dropdown_category {
                                padding-right: 0.4rem;
                                cursor: pointer;
                                background-color: transparent;
                                color: $White;
                                font-weight: 700;
                                font-size: 1rem;

                                &::after {
                                    content: "";
                                    display: block;
                                    border-bottom: 2px solid $White;
                                    transform: scaleX(0);
                                    transform-origin: left;
                                    transition: 0.2s linear;
                                }
                            }

                            .dropdown_arrow_sign {
                                .arrow_color {
                                    path {
                                        stroke: red;
                                    }
                                }
                            }
                        }
                    }

                    .header_button {
                        display: none;
                        justify-content: flex-end;
                        align-items: flex-start;
                        margin-top: -0.3rem;
                        font-family: "Ubuntu", sans-serif;

                        .header_button-login {
                            background-color: transparent;
                            color: $White;
                            padding: 1rem 1.8rem;
                            font-size: 1rem;
                            font-weight: 700;
                        }

                        .header_button-sign-up {
                            background-color: $White;
                            color: $Light-red;
                            padding: 0.95rem 2.35rem;
                            border-radius: 25px;
                            font-size: 1rem;
                            font-weight: 700;
                        }
                    }
                }

                .hamburger_menu {
                    display: block;
                    margin-top: 0.5rem;
                    width: 2.5rem;
                    height: 1.5rem;
                }
            }
        }
    }
}

@media (max-width: 600.98px) {
    body {
        .header_wrapper {
            padding-inline: 3.5rem;

            .header_intro_wrapper {
                .header_intro {
                    font-size: 3.2rem;
                }
            }
        }
    }
}

@media (max-width: 430.98px) {
    body {
        .header_wrapper {
            padding-inline: 2rem;

            .header_intro_wrapper {
                .header_intro {
                    font-size: 2.2rem;
                }

                .sub_header_intro {
                    font-size: 1.1rem;
                }
            }
        }
    }
}

@media (max-width: 375.98px) {
    body {
        .header_wrapper {
            padding-inline: 2rem;

            .header__nav {
                .header_logo {
                    width: 6rem;
                }

                .hamburger_menu {
                    width: 2rem;
                    height: 1.2rem;
                }
            }

            .header_intro_wrapper {
                .header_intro {
                    margin-top: 0;
                    font-size: 2rem;
                }
            }

            .header_button_intro {
                margin-top: 2.2rem;

                .button_intro_left {
                    padding: 0.7rem 1.7rem;
                    font-size: 0.8rem;
                }

                .button_intro_right {
                    padding: 0.7rem 1.7rem;
                    font-size: 0.8rem;
                }
            }
        }
    }
}
