@keyframes scale-down {
  0% {
    scale: 100%;
  }
  100% {
    scale: 20%;
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(180deg);
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  margin: 0;
}
body .header_wrapper {
  background-image: url("images/bg-pattern-intro-desktop.svg"), linear-gradient(130deg, hsl(13, 100%, 72%) 50%, hsl(356, 100%, 66%));
  background-position: 25.3% 52.2%;
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 66.8dvh;
  padding-inline: 10.25rem;
  border-bottom-left-radius: 6.2rem;
  font-family: "Ubuntu", sans-serif;
}
body .header_wrapper .header__nav {
  display: flex;
  align-items: center;
  padding-block: 4.8rem;
  -moz-column-gap: 4rem;
       column-gap: 4rem;
}
body .header_wrapper .header__nav .header_logo {
  width: 7.65rem;
  margin-top: -1.05rem;
}
body .header_wrapper .header__nav .sub_header_nav {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}
body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.9rem;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  font-size: 1rem;
}
body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_product .content,
body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_company .content,
body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_connect .content {
  position: absolute;
  top: auto;
  opacity: 0;
  cursor: pointer;
  background-color: hsl(0, 0%, 100%);
  margin-top: 0.7rem;
  width: 190px;
  padding-inline: 3rem;
  padding-block: 1.5rem;
  border-radius: 0.5rem;
  transition: 0.3s linear;
}
body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_product .content ul li,
body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_company .content ul li,
body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_connect .content ul li {
  margin-bottom: 0.8rem;
}
body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_product .content ul li a,
body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_company .content ul li a,
body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_connect .content ul li a {
  color: hsl(240, 10%, 16%);
  font-weight: 400;
}
body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_product .content ul li a:hover,
body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_company .content ul li a:hover,
body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_connect .content ul li a:hover {
  font-weight: 700;
}
body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_product .content.active,
body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_company .content.active,
body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_connect .content.active {
  position: absolute;
  top: auto;
  opacity: 1;
}
body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .dropdown_label_wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}
body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .dropdown_label_wrapper .dropdown_category {
  padding-right: 0.4rem;
  cursor: pointer;
  background-color: transparent;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  font-size: 1rem;
}
body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .dropdown_label_wrapper .dropdown_category::after {
  content: "";
  display: block;
  border-bottom: 2px solid hsl(0, 0%, 100%);
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.2s linear;
}
body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .dropdown_label_wrapper .dropdown_category.active::after, body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .dropdown_label_wrapper .dropdown_category:hover::after {
  transform: scaleX(1);
}
body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .dropdown_label_wrapper .dropdown_arrow_sign {
  transition: all 0.2s linear;
  background-color: transparent;
}
body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .dropdown_label_wrapper .dropdown_arrow_sign.rotate {
  transform: rotate(180deg);
}
body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .header_button {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 0.6rem;
  margin-top: -0.97rem;
  font-family: "Ubuntu", sans-serif;
}
body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .header_button .header_button-login {
  background-color: transparent;
  color: hsl(0, 0%, 100%);
  padding: 1rem 1.4rem;
  font-size: 1rem;
  font-weight: 700;
}
body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .header_button .header_button-login:active {
  animation: scale-down 0.1s;
}
body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .header_button .header_button-sign-up {
  background-color: hsl(0, 0%, 100%);
  color: hsl(356, 100%, 66%);
  padding: 0.95rem 2.3rem;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: 700;
}
body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .header_button .header_button-sign-up:hover {
  background-color: hsla(0, 0%, 100%, 0.251);
  color: hsl(0, 0%, 100%);
}
body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .header_button .header_button-sign-up:active {
  animation: scale-down 0.1s;
}
body .header_wrapper .header__nav .hamburger_menu {
  display: none;
}
body .header_wrapper .header__nav .close_menu {
  display: none;
}
body .header_wrapper .header_intro_wrapper {
  font-family: "Overpass", sans-serif;
  color: hsl(0, 0%, 100%);
}
body .header_wrapper .header_intro_wrapper .header_intro {
  margin-top: 3rem;
  text-align: center;
  font-size: 3.76rem;
  font-weight: 500;
  letter-spacing: -0.019rem;
}
body .header_wrapper .header_intro_wrapper .sub_header_intro {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.23rem;
}
body .header_wrapper .header_button_intro {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
  gap: 1rem;
  font-family: "Ubuntu", sans-serif;
  cursor: pointer;
}
body .header_wrapper .header_button_intro .button_intro_left {
  background-color: hsl(0, 0%, 100%);
  color: hsl(356, 100%, 66%);
  padding: 0.95rem 1.13rem;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: 700;
}
body .header_wrapper .header_button_intro .button_intro_left:hover {
  background-color: hsla(0, 0%, 100%, 0.251);
  color: hsl(0, 0%, 100%);
}
body .header_wrapper .header_button_intro .button_intro_left:active {
  animation: scale-down 0.1s;
}
body .header_wrapper .header_button_intro .button_intro_right {
  background-color: transparent;
  color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 25px;
  padding: 0.95rem 1.5rem;
  font-size: 1rem;
  font-weight: 700;
}
body .header_wrapper .header_button_intro .button_intro_right:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(356, 100%, 66%);
}
body .header_wrapper .header_button_intro .button_intro_right:active {
  animation: scale-down 0.1s;
}
body .main_wrapper {
  font-family: "Overpass", sans-serif;
  background-image: url("images/illustration-editor-desktop.svg");
  background-position: 153.3% 31.7%;
  background-repeat: no-repeat;
  background-size: auto;
}
body .main_wrapper .first_title {
  text-align: center;
  font-size: 2.34rem;
  font-weight: 500;
  letter-spacing: -0.009rem;
  padding-block-start: 9.7rem;
  color: hsl(237, 17%, 21%);
}
body .main_wrapper .first_description_wrapper_detail {
  min-height: 100dvh;
  padding-top: 6.5rem;
  padding-inline-start: 10.3rem;
}
body .main_wrapper .first_description_wrapper_detail .first_description_detail {
  max-width: 540px;
}
body .main_wrapper .first_description_wrapper_detail .first_description_detail .first_description_title {
  font-size: 1.74rem;
  font-weight: 500;
  color: hsl(237, 17%, 21%);
}
body .main_wrapper .first_description_wrapper_detail .first_description_detail .first_description_content {
  padding-top: 1.5rem;
  font-size: 0.89rem;
  line-height: 1.63;
  color: hsla(206, 13%, 34%, 0.719);
  margin-bottom: 4.8rem;
}
body .main_wrapper .main_wrapper-description_state_of_art_wrapper {
  margin-block-start: 16rem;
  background-color: hsl(208, 49%, 24%);
  background-image: url("images/bg-pattern-circles.svg");
  background-size: 70% auto;
  background-repeat: no-repeat;
  background-position: -49% 82%;
  border-top-right-radius: 6.3rem;
  border-bottom-left-radius: 6.3rem;
  min-height: 44.5dvh;
  position: relative;
}
body .main_wrapper .main_wrapper-description_state_of_art_wrapper .description_state_of_art_wrapper-detail {
  margin-inline-start: 46rem;
  padding-block-start: 7.3rem;
  color: hsl(0, 0%, 100%);
  max-width: 570px;
}
body .main_wrapper .main_wrapper-description_state_of_art_wrapper .description_state_of_art_wrapper-detail .description_state_of_art {
  font-size: 2.33rem;
  font-weight: 500;
}
body .main_wrapper .main_wrapper-description_state_of_art_wrapper .description_state_of_art_wrapper-detail .description_state_of_art_content {
  padding-block-start: 1.4rem;
  font-size: 1.055rem;
  line-height: 1.6;
  width: 550px;
}
body .main_wrapper .main_wrapper-description_state_of_art_wrapper .illustration-phones-img {
  position: absolute;
  top: -4.25rem;
  left: 7.8rem;
}
body .footer_wrapper .attribution {
  font-size: 11px;
  text-align: center;
}
body .footer_wrapper .attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 1280.98px) {
  body .header_wrapper {
    padding-block-end: 5rem;
  }
  body .header_wrapper .header_intro_wrapper .header_intro {
    margin-top: -0.5rem;
  }
  body .main_wrapper {
    background-position: 150.3% 90.7%;
    background-size: 70% 85%;
  }
  body .main_wrapper .first_description_wrapper_detail {
    padding-top: 6rem;
    padding-inline-start: 3.3rem;
  }
}
@media (max-width: 1200.98px) {
  body .header_wrapper {
    padding-inline: 5rem;
    min-height: auto;
  }
}
@media (max-width: 950.98px) {
  body .header_wrapper {
    padding-inline: 3.5rem;
    padding-block-end: 7rem;
  }
  body .header_wrapper .header__nav {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
  body .main_wrapper {
    background-position: 150.3% 25.7%;
    background-size: 70% 45%;
  }
  body .main_wrapper .first_description_wrapper_detail {
    padding-top: 5rem;
  }
  body .main_wrapper .first_description_wrapper_detail .first_description_detail .first_description_content {
    mix-blend-mode: multiply;
  }
}
@media (max-width: 810.98px) {
  body .header_wrapper {
    padding-inline: 3.5rem;
  }
  body .header_wrapper .header__nav {
    -moz-column-gap: 0;
         column-gap: 0;
  }
  body .header_wrapper .header__nav .header_logo {
    width: 9rem;
  }
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper {
    border-radius: 0.5rem;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    padding-inline: 2rem;
    padding-block: 2rem;
    margin-top: 4rem;
    position: absolute;
    width: auto;
    left: 3.5rem;
    right: 3.5rem;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar {
    display: block;
    height: auto;
    width: 100%;
    padding-inline: 2rem;
    padding-block-start: 2rem;
    color: hsl(237, 23%, 32%);
    border-bottom: 1px solid hsl(237, 23%, 32%);
  }
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_product .content,
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_company .content,
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_connect .content {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    display: none;
    text-align: center;
    background-color: rgb(249, 232, 232);
    margin-top: -1rem;
    padding-top: 2.2rem;
    width: auto;
  }
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_product .content ul li,
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_company .content ul li,
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_connect .content ul li {
    margin-bottom: 1rem;
  }
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_product .content ul li a,
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_company .content ul li a,
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_connect .content ul li a {
    color: hsl(207, 13%, 34%);
    font-size: 1.2rem;
    font-weight: 600;
  }
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_product .content.active,
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_company .content.active,
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_connect .content.active {
    position: relative;
    display: block;
    margin-bottom: 1rem;
  }
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .dropdown_label_wrapper {
    justify-content: center;
  }
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .dropdown_label_wrapper .dropdown_category {
    color: hsl(237, 17%, 21%);
    font-size: 1.3rem;
    margin-bottom: 2.3rem;
  }
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .dropdown_label_wrapper .dropdown_category::after {
    display: none;
  }
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .dropdown_label_wrapper .dropdown_category:active, body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .dropdown_label_wrapper .dropdown_category:hover {
    color: hsl(207, 13%, 34%);
  }
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .dropdown_label_wrapper .dropdown_arrow_sign .arrow_color path {
    stroke: red;
  }
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .header_button {
    display: block;
    width: 100%;
    background-color: hsl(0, 0%, 100%);
    padding-block: 0rem;
    text-align: center;
    margin-top: 1rem;
  }
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .header_button .header_button-login {
    color: hsl(237, 23%, 32%);
    font-size: 1.3rem;
  }
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .header_button .header_button-sign-up {
    background: linear-gradient(100deg, hsl(13, 100%, 72%) 20%, hsl(356, 100%, 66%));
    color: hsl(0, 0%, 100%);
    font-size: 1.3rem;
  }
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper.show_menu {
    opacity: 1;
  }
  body .header_wrapper .header__nav .hamburger_menu {
    display: block;
    opacity: 1;
    width: 2.5rem;
    height: 1.5rem;
    margin-top: -0.2rem;
  }
  body .header_wrapper .header__nav .hamburger_menu.active {
    display: none;
  }
  body .header_wrapper .header__nav .close_menu {
    display: none;
    margin-top: -0.9rem;
    width: 2.5rem;
    height: 2.3rem;
  }
  body .header_wrapper .header__nav .close_menu.active {
    display: block;
  }
  body .main_wrapper {
    background-position: 50% 30%;
  }
  body .main_wrapper .first_title {
    padding-block-start: 7rem;
  }
  body .main_wrapper .first_description_wrapper_detail {
    padding-top: 37rem;
    padding-inline: 3.3rem;
    text-align: center;
  }
  body .main_wrapper .first_description_wrapper_detail .first_description_detail {
    max-width: 100%;
  }
}
@media (max-width: 600.98px) {
  body .header_wrapper {
    background-image: url("images/bg-pattern-intro-mobile.svg"), linear-gradient(130deg, hsl(13, 100%, 72%) 50%, hsl(356, 100%, 66%));
    background-position: 40.3% 40.2%;
    background-size: fill;
    padding-inline: 3.5rem;
  }
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar {
    padding-inline: 0;
    padding-block-start: 1rem;
  }
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_product .content,
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_company .content,
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_connect .content {
    padding-top: 2.3rem;
  }
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_product .content ul li a,
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_company .content ul li a,
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_connect .content ul li a {
    font-size: 1.1rem;
  }
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .dropdown_label_wrapper .dropdown_category {
    font-size: 1.1rem;
    margin-bottom: 2rem;
  }
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .header_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    margin-inline: auto;
  }
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .header_button .header_button-login {
    width: 100%;
    font-size: 1.1rem;
  }
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .header_button .header_button-sign-up {
    font-size: 1.1rem;
  }
  body .header_wrapper .header_intro_wrapper .header_intro {
    font-size: 3.2rem;
  }
  body .main_wrapper {
    background-image: url("images/illustration-editor-mobile.svg");
    background-size: auto;
    background-position: 50% 28%;
  }
  body .main_wrapper .first_title {
    font-size: 2rem;
  }
  body .main_wrapper .first_description_wrapper_detail {
    padding-top: 23rem;
  }
  body .main_wrapper .first_description_wrapper_detail .first_description_detail .first_description_content {
    margin-bottom: 2rem;
  }
}
@media (max-width: 430.98px) {
  body .header_wrapper {
    padding-inline: 2rem;
  }
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper {
    top: 3.5rem;
    left: 2rem;
    right: 2rem;
  }
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_product .content ul li a,
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_company .content ul li a,
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_connect .content ul li a {
    font-size: 1.1rem;
  }
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .header_button .header_button-login {
    width: 100%;
    font-size: 1.1rem;
  }
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .header_button .header_button-sign-up {
    font-size: 1.1rem;
  }
  body .header_wrapper .header__nav .hamburger_menu {
    margin-top: -0.4rem;
  }
  body .header_wrapper .header__nav .close_menu {
    margin-top: -0.9rem;
  }
  body .header_wrapper .header_intro_wrapper .header_intro {
    font-size: 2.2rem;
  }
  body .header_wrapper .header_intro_wrapper .sub_header_intro {
    font-size: 1.1rem;
  }
  body .main_wrapper {
    background-image: url("images/illustration-editor-mobile.svg");
    background-size: auto;
    background-position: 50% 28%;
  }
  body .main_wrapper .first_title {
    font-size: 1.7rem;
  }
  body .main_wrapper .first_description_wrapper_detail {
    padding-top: 25rem;
    padding-inline: 2rem;
  }
}
@media (max-width: 375.98px) {
  body .header_wrapper {
    padding-inline: 2rem;
  }
  body .header_wrapper .header__nav .header_logo {
    width: 6rem;
  }
  body .header_wrapper .header__nav .hamburger_menu {
    width: 2rem;
    height: 1.2rem;
  }
  body .header_wrapper .header__nav .close_menu {
    width: 2rem;
    height: 1.8rem;
  }
  body .header_wrapper .header_intro_wrapper .header_intro {
    margin-top: 0;
    font-size: 2rem;
  }
  body .header_wrapper .header_button_intro {
    margin-top: 2.2rem;
  }
  body .header_wrapper .header_button_intro .button_intro_left {
    padding: 0.7rem 1.7rem;
    font-size: 0.8rem;
  }
  body .header_wrapper .header_button_intro .button_intro_right {
    padding: 0.7rem 1.7rem;
    font-size: 0.8rem;
  }
}/*# sourceMappingURL=styles.css.map */