@keyframes scale-down {
  0% {
    scale: 100%;
  }
  100% {
    scale: 20%;
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(180deg);
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

body .header_wrapper {
  background-image: url("images/bg-pattern-intro-desktop.svg"), linear-gradient(130deg, hsl(13, 100%, 72%) 50%, hsl(356, 100%, 66%));
  background-position: 25.3% 52.2%;
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 66.8dvh;
  padding-inline: 10.25rem;
  border-bottom-left-radius: 6.2rem;
  font-family: "Ubuntu", sans-serif;
}
body .header_wrapper .header__nav {
  display: flex;
  align-items: center;
  padding-block: 4.8rem;
  -moz-column-gap: 4rem;
       column-gap: 4rem;
}
body .header_wrapper .header__nav .header_logo {
  width: 7.65rem;
  margin-top: -1.05rem;
}
body .header_wrapper .header__nav .sub_header_nav {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}
body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.9rem;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  font-size: 1rem;
}
body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_product .content,
body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_company .content,
body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_connect .content {
  position: absolute;
  top: auto;
  opacity: 0;
  cursor: pointer;
  background-color: hsl(0, 0%, 100%);
  margin-top: 0.7rem;
  width: 190px;
  padding-inline: 3rem;
  padding-block: 1.5rem;
  border-radius: 0.5rem;
  transition: 0.3s linear;
}
body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_product .content ul li,
body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_company .content ul li,
body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_connect .content ul li {
  margin-bottom: 0.8rem;
}
body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_product .content ul li a,
body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_company .content ul li a,
body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_connect .content ul li a {
  color: hsl(240, 10%, 16%);
  font-weight: 400;
}
body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_product .content ul li a:hover,
body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_company .content ul li a:hover,
body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_connect .content ul li a:hover {
  font-weight: 700;
}
body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_product .content.active,
body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_company .content.active,
body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_connect .content.active {
  position: absolute;
  top: auto;
  opacity: 1;
}
body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .dropdown_label_wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}
body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .dropdown_label_wrapper .dropdown_category {
  padding-right: 0.4rem;
  cursor: pointer;
  background-color: transparent;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  font-size: 1rem;
}
body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .dropdown_label_wrapper .dropdown_category::after {
  content: "";
  display: block;
  border-bottom: 2px solid hsl(0, 0%, 100%);
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.2s linear;
}
body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .dropdown_label_wrapper .dropdown_category.active::after, body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .dropdown_label_wrapper .dropdown_category:hover::after {
  transform: scaleX(1);
}
body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .dropdown_label_wrapper .dropdown_arrow_sign {
  transition: all 0.2s linear;
  background-color: transparent;
}
body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .dropdown_label_wrapper .dropdown_arrow_sign.rotate {
  transform: rotate(180deg);
}
body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .header_button {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 0.6rem;
  margin-top: -0.97rem;
  font-family: "Ubuntu", sans-serif;
}
body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .header_button .header_button-login {
  background-color: transparent;
  color: hsl(0, 0%, 100%);
  padding: 1rem 1.4rem;
  font-size: 1rem;
  font-weight: 700;
}
body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .header_button .header_button-login:active {
  animation: scale-down 0.1s;
}
body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .header_button .header_button-sign-up {
  background-color: hsl(0, 0%, 100%);
  color: hsl(356, 100%, 66%);
  padding: 0.95rem 2.3rem;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: 700;
}
body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .header_button .header_button-sign-up:hover {
  background-color: hsla(0, 0%, 100%, 0.251);
  color: hsl(0, 0%, 100%);
}
body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .header_button .header_button-sign-up:active {
  animation: scale-down 0.1s;
}
body .header_wrapper .header__nav .hamburger_menu {
  display: none;
}
body .header_wrapper .header__nav .close_menu {
  display: none;
}
body .header_wrapper .header_intro_wrapper {
  font-family: "Overpass", sans-serif;
  color: hsl(0, 0%, 100%);
}
body .header_wrapper .header_intro_wrapper .header_intro {
  margin-top: 3rem;
  text-align: center;
  font-size: 3.76rem;
  font-weight: 500;
  letter-spacing: -0.019rem;
}
body .header_wrapper .header_intro_wrapper .sub_header_intro {
  margin-top: 0.9rem;
  text-align: center;
  font-size: 1.07rem;
}
body .header_wrapper .header_button_intro {
  display: flex;
  justify-content: center;
  margin-top: 2.8rem;
  gap: 1rem;
  font-family: "Ubuntu", sans-serif;
  cursor: pointer;
}
body .header_wrapper .header_button_intro .button_intro_left {
  background-color: hsl(0, 0%, 100%);
  color: hsl(356, 100%, 66%);
  padding: 0.95rem 1.13rem;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: 700;
}
body .header_wrapper .header_button_intro .button_intro_left:hover {
  background-color: hsla(0, 0%, 100%, 0.251);
  color: hsl(0, 0%, 100%);
}
body .header_wrapper .header_button_intro .button_intro_left:active {
  animation: scale-down 0.1s;
}
body .header_wrapper .header_button_intro .button_intro_right {
  background-color: transparent;
  color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 25px;
  padding: 0.95rem 1.5rem;
  font-size: 1rem;
  font-weight: 700;
}
body .header_wrapper .header_button_intro .button_intro_right:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(356, 100%, 66%);
}
body .header_wrapper .header_button_intro .button_intro_right:active {
  animation: scale-down 0.1s;
}

@media (max-width: 1600px) {
  body .header_wrapper {
    background-position: 40.3% 52.2%;
    min-height: 100%;
    padding-bottom: 7rem;
  }
  body .header_wrapper .header__nav .header_logo {
    width: 10rem;
  }
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper {
    align-items: baseline;
  }
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .dropdown_label_wrapper .dropdown_category {
    font-size: 1.3rem;
  }
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .header_button .header_button-login {
    font-size: 1.3rem;
    padding: 1.5rem 2.5rem;
  }
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .header_button .header_button-sign-up {
    padding: 1.5rem 2.5rem;
    border-radius: 50px;
    font-size: 1.3rem;
  }
  body .header_wrapper .header_intro_wrapper {
    margin-top: 3rem;
  }
  body .header_wrapper .header_intro_wrapper .header_intro {
    font-size: 5.9rem;
  }
  body .header_wrapper .header_intro_wrapper .sub_header_intro {
    font-size: 2rem;
  }
  body .header_wrapper .header_button_intro {
    margin-top: 5rem;
  }
  body .header_wrapper .header_button_intro .button_intro_left {
    padding: 2rem;
    border-radius: 50px;
    font-size: 1.7rem;
  }
  body .header_wrapper .header_button_intro .button_intro_right {
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50px;
    padding: 2rem;
    font-size: 1.7rem;
  }
}
@media (max-width: 1536px) {
  body .header_wrapper .header_intro_wrapper {
    margin-top: 3rem;
  }
  body .header_wrapper .header_intro_wrapper .header_intro {
    font-size: 3.9rem;
  }
  body .header_wrapper .header_intro_wrapper .sub_header_intro {
    font-size: 1.7rem;
  }
  body .header_wrapper .header_button_intro .button_intro_left {
    padding: 1.5rem 2rem;
    font-size: 1.3rem;
  }
  body .header_wrapper .header_button_intro .button_intro_right {
    padding: 1.5rem 2rem;
    font-size: 1.3rem;
  }
}
@media (max-width: 1440px) {
  body .header_wrapper {
    background-position: 40.3% 52.2%;
    min-height: 100%;
    padding-bottom: 7rem;
  }
  body .header_wrapper .header__nav .header_logo {
    width: 7.7rem;
    margin-top: -2.3rem;
  }
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper {
    align-items: baseline;
    margin-top: -1.1rem;
  }
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .dropdown_label_wrapper .dropdown_category {
    font-size: 0.97rem;
  }
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .header_button {
    margin-top: -0.7rem;
  }
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .header_button .header_button-login {
    font-size: 1rem;
    padding: 1.5rem 1.3rem;
  }
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .header_button .header_button-sign-up {
    padding: 0.93rem 2.3rem;
    border-radius: 50px;
    font-size: 1rem;
    margin-top: 0.47rem;
  }
  body .header_wrapper .header_intro_wrapper {
    margin-top: -1rem;
  }
  body .header_wrapper .header_intro_wrapper .header_intro {
    font-size: 3.75rem;
  }
  body .header_wrapper .header_intro_wrapper .sub_header_intro {
    font-size: 1.23rem;
  }
  body .header_wrapper .header_button_intro {
    margin-top: 2.8rem;
  }
  body .header_wrapper .header_button_intro .button_intro_left {
    padding: 0.9rem 1.1rem;
    font-size: 1rem;
  }
  body .header_wrapper .header_button_intro .button_intro_right {
    padding: 0.9rem 1.6rem;
    font-size: 1rem;
  }
}
/* xl */
@media (max-width: 1280px) {
  body .header_wrapper {
    background-position: 40.3% 52.2%;
    min-height: 100%;
    padding-bottom: 7rem;
    padding-inline: 6rem;
  }
  body .header_wrapper .header__nav {
    -moz-column-gap: 3rem;
         column-gap: 3rem;
  }
  body .header_wrapper .header__nav .header_logo {
    width: 8rem;
    margin-top: 0;
  }
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper {
    margin-top: 0;
  }
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .dropdown_label_wrapper .dropdown_category {
    font-size: 1.2rem;
  }
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .header_button {
    margin-top: 0;
  }
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .header_button .header_button-login {
    font-size: 1.2rem;
  }
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .header_button .header_button-sign-up {
    font-size: 1.2rem;
  }
  body .header_wrapper .header_intro_wrapper {
    margin-top: 0;
  }
  body .header_wrapper .header_intro_wrapper .header_intro {
    font-size: 4.72rem;
  }
  body .header_wrapper .header_intro_wrapper .sub_header_intro {
    font-size: 1.8rem;
  }
  body .header_wrapper .header_button_intro .button_intro_left {
    padding: 1.5rem 2.5rem;
    font-size: 1.5rem;
  }
  body .header_wrapper .header_button_intro .button_intro_right {
    padding: 1.5rem 2.5rem;
    font-size: 1.5rem;
  }
}
/* lg */
@media (max-width: 1024px) {
  body .header_wrapper {
    padding-inline: 5rem;
  }
  body .header_wrapper .header__nav {
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
  body .header_wrapper .header__nav .header_logo {
    width: 9rem;
  }
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper {
    border-radius: 0.5rem;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    padding-inline: 2rem;
    padding-block: 2rem;
    margin-top: 4rem;
    position: absolute;
    width: auto;
    left: 5rem;
    right: 5rem;
    top: -200%;
    transition: all 0.3s ease-in-out;
  }
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar {
    display: block;
    height: auto;
    width: 100%;
    padding-inline: 2rem;
    padding-block-start: 2rem;
    color: hsl(237, 23%, 32%);
    border-bottom: 1px solid hsl(237, 23%, 32%);
  }
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_product .content,
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_company .content,
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_connect .content {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    display: none;
    text-align: center;
    background-color: rgb(249, 232, 232);
    margin-top: -1rem;
    padding-top: 2.2rem;
    width: auto;
  }
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_product .content ul li,
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_company .content ul li,
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_connect .content ul li {
    margin-bottom: 1rem;
  }
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_product .content ul li a,
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_company .content ul li a,
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_connect .content ul li a {
    color: hsl(207, 13%, 34%);
    font-size: 1.2rem;
    font-weight: 600;
  }
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_product .content ul li a:hover,
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_company .content ul li a:hover,
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_connect .content ul li a:hover {
    color: hsl(208, 49%, 24%);
  }
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_product .content.active,
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_company .content.active,
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_connect .content.active {
    position: relative;
    display: block;
    margin-bottom: 1rem;
  }
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .dropdown_label_wrapper {
    justify-content: center;
  }
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .dropdown_label_wrapper .dropdown_category {
    color: hsl(237, 17%, 21%);
    font-size: 1.3rem;
    margin-bottom: 2.3rem;
  }
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .dropdown_label_wrapper .dropdown_category::after {
    display: none;
  }
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .dropdown_label_wrapper .dropdown_category:active, body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .dropdown_label_wrapper .dropdown_category:hover {
    color: hsl(207, 13%, 34%);
  }
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .dropdown_label_wrapper .dropdown_arrow_sign .arrow_color path {
    stroke: red;
  }
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .header_button {
    display: block;
    width: 100%;
    background-color: hsl(0, 0%, 100%);
    padding-block: 0rem;
    text-align: center;
    margin-top: 1rem;
  }
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .header_button .header_button-login {
    color: hsl(237, 23%, 32%);
    font-size: 1.3rem;
  }
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .header_button .header_button-sign-up {
    background: linear-gradient(100deg, hsl(13, 100%, 72%) 20%, hsl(356, 100%, 66%));
    color: hsl(0, 0%, 100%);
    font-size: 1.3rem;
  }
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper.show_menu {
    top: 6rem;
  }
  body .header_wrapper .header__nav .hamburger_menu {
    display: block;
    opacity: 1;
    width: 2.5rem;
    height: 1.5rem;
  }
  body .header_wrapper .header__nav .hamburger_menu.active {
    display: none;
  }
  body .header_wrapper .header__nav .close_menu {
    display: none;
    width: 2.5rem;
    height: 2.3rem;
  }
  body .header_wrapper .header__nav .close_menu.active {
    display: block;
  }
  body .header_wrapper .header_intro_wrapper {
    margin-top: 4rem;
  }
  body .header_wrapper .header_intro_wrapper .header_intro {
    font-size: 3.8rem;
  }
  body .header_wrapper .header_intro_wrapper .sub_header_intro {
    font-size: 1.7rem;
  }
  body .header_wrapper .header_button_intro .button_intro_left {
    font-size: 1.3rem;
  }
  body .header_wrapper .header_button_intro .button_intro_right {
    font-size: 1.3rem;
  }
}
/* md */
@media (max-width: 768px) {
  body .header_wrapper {
    padding-inline: 3.5rem;
  }
  body .header_wrapper .header__nav {
    -moz-column-gap: 0;
         column-gap: 0;
  }
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper {
    left: 3.5rem;
    right: 3.5rem;
  }
}
/* sm */
@media (max-width: 640px) {
  body .header_wrapper .header_intro_wrapper {
    margin-top: 0;
  }
  body .header_wrapper .header_intro_wrapper .header_intro {
    font-size: 2.8rem;
  }
  body .header_wrapper .header_intro_wrapper .sub_header_intro {
    font-size: 1.1rem;
  }
  body .header_wrapper .header_button_intro .button_intro_left {
    font-size: 1.1rem;
  }
  body .header_wrapper .header_button_intro .button_intro_right {
    font-size: 1.1rem;
  }
}
/* xs */
@media (max-width: 475.98px) {
  body .header_wrapper {
    padding-inline: 2.3rem;
  }
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar {
    padding-inline: 0;
  }
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_product .content,
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_company .content,
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper .navbar .header_dropdown_connect .content {
    padding-inline: 0;
  }
  body .header_wrapper .header_intro_wrapper .header_intro {
    font-size: 2.3rem;
  }
  body .header_wrapper .header_intro_wrapper .sub_header_intro {
    font-size: 1rem;
  }
  body .header_wrapper .header_button_intro .button_intro_left {
    font-size: 0.9rem;
    padding: 1.5rem 2rem;
  }
  body .header_wrapper .header_button_intro .button_intro_right {
    font-size: 0.9rem;
    padding: 1.5rem 2rem;
  }
}
/* xxs */
@media (max-width: 375.98px) {
  body .header_wrapper .header__nav .sub_header_nav .header_nav_wrapper {
    left: 2.3rem;
    right: 2.3rem;
  }
  body .header_wrapper .header_intro_wrapper .header_intro {
    font-size: 1.9rem;
  }
  body .header_wrapper .header_intro_wrapper .sub_header_intro {
    font-size: 0.8rem;
  }
  body .header_wrapper .header_button_intro .button_intro_left {
    font-size: 0.7rem;
    padding: 1.2rem 2rem;
  }
  body .header_wrapper .header_button_intro .button_intro_right {
    font-size: 0.7rem;
    padding: 1.2rem 2rem;
  }
}
/* xxxs */
@media (max-width: 320.98px) {
  body .header_wrapper .header_intro_wrapper .header_intro {
    font-size: 1.7rem;
  }
  body .header_wrapper .header_button_intro {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  body .header_wrapper .header_button_intro .button_intro_left {
    font-size: 0.9rem;
  }
  body .header_wrapper .header_button_intro .button_intro_right {
    font-size: 0.9rem;
  }
}/*# sourceMappingURL=styles.css.map */