// Primary
$Light-red: hsl(356, 100%, 66%); // (CTA text)
$Very-light-red: hsl(355, 100%, 74%); // (CTA hover background)
$Very-dark-blue: hsl(208, 49%, 24%); // (headings)

// Neutral
$White: hsl(0, 0%, 100%); // (text)
$Grayish-blue: hsl(240, 2%, 79%); // (footer text)
$Very-dark-grayish-blue: hsl(207, 13%, 34%); //  (body copy)
$Very-dark-black-blue: hsl(240, 10%, 16%); // (footer background)

// Gradient
// Background gradient - Intro/CTA mobile nav:
$Very-light-red-1: hsl(13, 100%, 72%);

// Background gradient - body:
$Very-dark-gray-blue: hsl(237, 17%, 21%);
$Very-dark-desaturated-blue: hsl(237, 23%, 32%);

@mixin keyframes($animation-name) {
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
    -webkit-animation: #{$str};
    animation: #{$str};
}

@include keyframes(scale-down) {
    0% {
        scale: 100%;
    }
    100% {
        scale: 20%;
    }
}

@include keyframes(rotation) {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(180deg);
    }
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    .header_wrapper {
        background-image: url("images/bg-pattern-intro-desktop.svg"),
            linear-gradient(130deg, $Very-light-red-1 50%, $Light-red);
        background-position: 25.3% 52.2%; // x%, y%
        background-repeat: no-repeat;
        background-size: auto;
        min-height: 66.8dvh;
        padding-inline: 10.25rem;
        border-bottom-left-radius: 6.2rem;
        font-family: "Ubuntu", sans-serif;

        .header__nav {
            display: flex;
            align-items: center;
            padding-block: 4.8rem;
            column-gap: 4rem;

            .header_logo {
                width: 7.65rem;
                margin-top: -1.05rem;
            }

            .sub_header_nav {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                width: 100%;

                .header_nav_wrapper {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    width: 100%;

                    .navbar {
                        display: flex;
                        justify-content: flex-start;
                        align-items: flex-start;
                        gap: 1.9rem;
                        color: $White;
                        font-weight: 700;
                        font-size: 1rem;

                        .header_dropdown_product,
                        .header_dropdown_company,
                        .header_dropdown_connect {
                            .content {
                                position: absolute;
                                top: auto;
                                opacity: 0;
                                cursor: pointer;
                                background-color: $White;
                                margin-top: 0.7rem;
                                width: 190px;
                                padding-inline: 3rem;
                                padding-block: 1.5rem;
                                border-radius: 0.5rem;
                                transition: 0.3s linear;

                                ul {
                                    li {
                                        margin-bottom: 0.8rem;

                                        a {
                                            color: $Very-dark-black-blue;
                                            font-weight: 400;

                                            &:hover {
                                                font-weight: 700;
                                            }
                                        }
                                    }
                                }

                                &.active {
                                    position: absolute;
                                    top: auto;
                                    opacity: 1;
                                }
                            }
                        }

                        .dropdown_label_wrapper {
                            display: flex;
                            justify-content: flex-start;
                            align-items: baseline;

                            .dropdown_category {
                                padding-right: 0.4rem;
                                cursor: pointer;
                                background-color: transparent;
                                color: $White;
                                font-weight: 700;
                                font-size: 1rem;

                                &::after {
                                    content: "";
                                    display: block;
                                    border-bottom: 2px solid $White;
                                    transform: scaleX(0);
                                    transform-origin: left;
                                    transition: 0.2s linear;
                                }

                                &.active,
                                &:hover {
                                    &::after {
                                        transform: scaleX(1);
                                    }
                                }
                            }

                            .dropdown_arrow_sign {
                                transition: all 0.2s linear;
                                background-color: transparent;

                                &.rotate {
                                    transform: rotate(180deg);
                                }
                            }
                        }
                    }

                    .header_button {
                        display: flex;
                        justify-content: flex-end;
                        align-items: flex-start;
                        gap: 0.6rem;
                        margin-top: -0.97rem;
                        font-family: "Ubuntu", sans-serif;

                        .header_button-login {
                            background-color: transparent;
                            color: $White;
                            padding: 1rem 1.4rem;
                            font-size: 1rem;
                            font-weight: 700;

                            &:active {
                                @include animation("scale-down 0.1s");
                            }
                        }

                        .header_button-sign-up {
                            background-color: $White;
                            color: $Light-red;
                            padding: 0.95rem 2.3rem;
                            border-radius: 25px;
                            font-size: 1rem;
                            font-weight: 700;

                            &:hover {
                                background-color: hsla(0, 0%, 100%, 0.251);
                                color: $White;
                            }

                            &:active {
                                @include animation("scale-down 0.1s");
                            }
                        }
                    }
                }
            }

            .hamburger_menu {
                display: none;
            }

            .close_menu {
                display: none;
            }
        }

        .header_intro_wrapper {
            font-family: "Overpass", sans-serif;
            color: $White;

            .header_intro {
                margin-top: 3rem;
                text-align: center;
                font-size: 3.76rem;
                font-weight: 500;
                letter-spacing: -0.019rem;
            }

            .sub_header_intro {
                margin-top: 0.9rem;
                text-align: center;
                font-size: 1.07rem;
            }
        }

        .header_button_intro {
            display: flex;
            justify-content: center;
            margin-top: 2.8rem;
            gap: 1rem;
            font-family: "Ubuntu", sans-serif;
            cursor: pointer;

            .button_intro_left {
                background-color: $White;
                color: $Light-red;
                padding: 0.95rem 1.13rem;
                border-radius: 25px;
                font-size: 1rem;
                font-weight: 700;

                &:hover {
                    background-color: hsla(0, 0%, 100%, 0.251);
                    color: $White;
                }

                &:active {
                    @include animation("scale-down 0.1s");
                }
            }

            .button_intro_right {
                background-color: transparent;
                color: $White;
                border: 1px solid $White;
                border-radius: 25px;
                padding: 0.95rem 1.5rem;
                font-size: 1rem;
                font-weight: 700;

                &:hover {
                    background-color: $White;
                    color: $Light-red;
                }

                &:active {
                    @include animation("scale-down 0.1s");
                }
            }
        }
    }

    .main_wrapper {
        font-family: "Overpass", sans-serif;
        min-height: 270.5dvh;

        .first_hero_wrapper {
            background-image: url("images/illustration-editor-desktop.svg");
            background-repeat: no-repeat;
            background-size: auto;
            background-position: 153.3% 95.5%;
            min-height: 106.167dvh;

            .first_title {
                text-align: center;
                font-size: 2.34rem;
                font-weight: 500;
                letter-spacing: -0.009rem;
                padding-block-start: 9.6rem;
                color: $Very-dark-gray-blue;
            }

            .first_description_wrapper {
                padding-top: 6.5rem;
                padding-inline-start: 10.3rem;

                .first_description_detail {
                    max-width: 540px;

                    .first_description_title {
                        font-size: 1.74rem;
                        font-weight: 500;
                        color: $Very-dark-gray-blue;
                    }

                    .first_description_content {
                        padding-top: 1.6rem;
                        font-size: 0.89rem;
                        line-height: 1.63;
                        color: hsla(206, 13%, 34%, 0.719);
                        margin-bottom: 4.7rem;
                    }
                }
            }
        }

        .second_hero_wrapper {
            margin-top: 3.32rem;
            background-image: url("images/bg-pattern-circles.svg"),
                linear-gradient(
                    90deg,
                    $Very-dark-gray-blue 10%,
                    $Very-dark-desaturated-blue
                );
            background-color: $Very-dark-desaturated-blue;
            background-size: 70% auto;
            background-repeat: no-repeat;
            background-position: -49% 82%;
            border-top-right-radius: 6.3rem;
            border-bottom-left-radius: 6.3rem;
            min-height: 44.7dvh;
            display: flex;
            position: relative;
            inset: 0;

            .second_description_wrapper {
                margin-inline-start: 46rem;
                padding-block-start: 7.3rem;
                color: $White;

                .second_title {
                    font-size: 2.33rem;
                    font-weight: 500;
                }

                .second_content {
                    padding-block-start: 1.4rem;
                    font-size: 1.055rem;
                    line-height: 1.6;
                    width: 550px;
                }
            }

            .illustration-phones-img {
                position: absolute;
                top: -4.25rem;
                left: 7.8rem;
            }
        }

        .third_hero_wrapper {
            min-height: 113.633dvh;
            background-image: url("images/illustration-laptop-desktop.svg");
            background-repeat: no-repeat;
            background-size: auto;
            background-position: -60% 48.3%;

            .third_description_wrapper {
                margin-inline-start: 46rem;
                padding-block-start: 19rem;
                color: $Very-dark-desaturated-blue;

                .third_description_detail {
                    max-width: 540px;

                    .third_description_title {
                        font-size: 1.74rem;
                        font-weight: 500;
                        color: $Very-dark-gray-blue;
                    }

                    .third_description_content {
                        padding-top: 1.6rem;
                        font-size: 0.88rem;
                        line-height: 1.65;
                        color: hsla(206, 13%, 34%, 0.719);
                        margin-bottom: 4.7rem;
                    }
                }
            }
        }
    }

    .footer_wrapper {
        background-color: $Very-dark-black-blue;
        padding-inline: 10.3rem;
        padding-block-start: 4.3rem;
        font-family: "Ubuntu", sans-serif;
        border-top-right-radius: 6.3rem;

        .footer_wrapperr {
            display: flex;
            gap: 11.5rem;

            .footer_content {
                display: flex;
                column-gap: 12.6rem;
                padding-top: 0.6rem;
                width: 100%;

                .footer_content_wrapper {
                    .footer_title {
                        font-size: 0.93rem;
                        padding-bottom: 2.2rem;
                        color: $White;
                        font-weight: 600;
                    }

                    .footer_detail {
                        .footer_link {
                            margin-bottom: 1rem;
                            color: $White;
                            font-size: 0.95rem;
                            font-weight: 300;

                            .link {
                                color: $White;
                            }
                        }
                    }

                    &:last-child {
                        margin-left: 1.1rem;
                    }
                }
            }
        }

        .attribution {
            font-size: 11px;
            text-align: center;
            color: $White;

            a {
                &:visited {
                    color: $Very-dark-desaturated-blue;
                }
            }
        }
    }
}

// Media Query
@mixin smallerDevices {
    @media screen and (max-width: 320.98px) {
        @content;
    }
}

@mixin smallPhoneScreen {
    @media screen and (max-width: 375.98px) {
        @content;
    }
}

@mixin phoneScreen {
    @media screen and (max-width: 390.98px) {
        @content;
    }
}

@mixin mediumPhoneScreen {
    @media screen and (max-width: 430.98px) {
        @content;
    }
}

@mixin tabletScreen {
    @media screen and (max-width: 768.98px) {
        @content;
    }
}

@mixin mediumTabletScreen {
    @media screen and (max-width: 885.98px) {
        @content;
    }
}

@mixin largeScreen {
    @media screen and (max-width: 1200.98px) {
        @content;
    }
}

@mixin X-largeScreen {
    @media screen and (max-width: 1280.98px) {
        @content;
    }
}

// ------------------------------------------//

@include X-largeScreen {
    body {
        .header_wrapper {
            padding-block-end: 5rem;

            .header_intro_wrapper {
                .header_intro {
                    margin-top: -0.5rem;
                }
            }
        }

        .main_wrapper {
            .first_hero_wrapper {
                background-position: 110.3% 100.7%;
                background-size: 50% auto;

                .first_title {
                    padding-block-start: 8.6rem;
                }

                .first_description_wrapper {
                    padding-top: 3rem;
                    padding-inline-start: 3.3rem;

                    .first_description_detail {
                        .first_description_content {
                            padding-top: 1.6rem;
                            margin-bottom: 2rem;
                        }
                    }
                }
            }

            .second_hero_wrapper {
                margin-top: 10rem;

                .second_description_wrapper {
                    margin-inline-start: 37rem;
                    padding-block-start: 3.5rem;
                }

                .illustration-phones-img {
                    top: -4.25rem;
                    left: auto;
                }
            }

            .third_hero_wrapper {
                background-position: 0% 99.7%;
                background-size: 50% auto;
                margin-top: 7rem;

                .third_description_wrapper {
                    margin-inline-start: 37rem;

                    .third_description_detail {
                        max-width: 100%;
                        padding-inline-end: 2rem;
                    }
                }
            }
        }

        .footer_wrapper {
            margin-top: 10rem;
            padding-inline: 5rem;
            column-gap: auto;
        }
    }
}

@include largeScreen {
    body {
        .header_wrapper {
            padding-inline: 5rem;
            min-height: auto;
        }

        .main_wrapper {
            .first_hero_wrapper {
                background-position: 110.3% 99.7%;
            }

            .second_hero_wrapper {
                .second_description_wrapper {
                    margin-inline-start: 28rem;
                    padding-block-start: 3.4rem;
                }

                .illustration-phones-img {
                    max-width: 27rem;
                    top: -3rem;
                }
            }

            .third_hero_wrapper {
                background-position: -10% 110.7%;
                background-size: 60%;
            }
        }

        .footer_wrapper {
            padding-block-start: 3rem;
        }
    }
}

@include mediumTabletScreen {
    body {
        .header_wrapper {
            padding-inline: 3.5rem;
            padding-block-end: 7rem;

            .header__nav {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                width: 100%;
                column-gap: 2rem;
            }
        }

        .main_wrapper {
            .first_hero_wrapper {
                background-position: 190% 20.7%;
                background-size: 80%;

                .first_description_wrapper {
                    .first_description_detail {
                        .first_description_content {
                            mix-blend-mode: multiply;
                        }
                    }
                }
            }

            .second_hero_wrapper {
                padding-inline-end: 1rem;

                .second_description_wrapper {
                    margin-inline-start: 27rem;
                    padding-block-start: 7.3rem;

                    .second_content {
                        width: 100%;
                    }
                }

                .illustration-phones-img {
                    top: 2rem;
                }
            }

            .third_hero_wrapper {
                background-position: -43% 45%;
                background-size: 70%;

                .third_description_wrapper {
                    margin-inline-start: 26rem;
                    padding-block-start: 27rem;

                    .third_description_detail {
                        .third_description_content {
                            padding-top: 1rem;
                            margin-bottom: 3.7rem;
                            mix-blend-mode: multiply;
                        }
                    }
                }
            }
        }

        .footer_wrapper {
            margin-top: -10rem;

            .footer_wrapperr {
                gap: 7.5rem;

                .footer_content {
                    gap: 7rem;

                    .footer_content_wrapper {
                        &:last-child {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
}

@include tabletScreen {
    body {
        .header_wrapper {
            padding-inline: 3.5rem;

            .header__nav {
                column-gap: 0;

                .header_logo {
                    width: 9rem;
                }

                .sub_header_nav {
                    .header_nav_wrapper {
                        border-radius: 0.5rem;
                        flex-direction: column;
                        background-color: $White;
                        padding-inline: 2rem;
                        padding-block: 2rem;
                        margin-top: 4rem;
                        position: absolute;
                        width: auto;
                        left: 3.5rem;
                        right: 3.5rem;
                        opacity: 0;
                        transition: all 0.5s ease-in-out;

                        .navbar {
                            display: block;
                            height: auto;
                            width: 100%;
                            padding-inline: 2rem;
                            padding-block-start: 2rem;
                            color: $Very-dark-desaturated-blue;
                            border-bottom: 1px solid $Very-dark-desaturated-blue;

                            .header_dropdown_product,
                            .header_dropdown_company,
                            .header_dropdown_connect {
                                .content {
                                    position: relative;
                                    top: auto;
                                    left: auto;
                                    right: auto;
                                    display: none;
                                    text-align: center;
                                    background-color: rgb(249, 232, 232);
                                    margin-top: -1rem;
                                    padding-top: 2.2rem;
                                    width: auto;

                                    ul {
                                        li {
                                            margin-bottom: 1rem;
                                            a {
                                                color: $Very-dark-grayish-blue;
                                                font-size: 1.2rem;
                                                font-weight: 600;
                                            }
                                        }
                                    }

                                    &.active {
                                        position: relative;
                                        display: block;
                                        margin-bottom: 1rem;
                                    }
                                }
                            }

                            .dropdown_label_wrapper {
                                justify-content: center;

                                .dropdown_category {
                                    color: $Very-dark-gray-blue;
                                    font-size: 1.3rem;
                                    margin-bottom: 2.3rem;

                                    &::after {
                                        display: none;
                                    }

                                    &:active,
                                    &:hover {
                                        color: $Very-dark-grayish-blue;
                                    }
                                }

                                .dropdown_arrow_sign {
                                    .arrow_color {
                                        path {
                                            stroke: red;
                                        }
                                    }
                                }
                            }
                        }

                        .header_button {
                            display: block;
                            width: 100%;
                            background-color: $White;
                            padding-block: 0rem;
                            text-align: center;
                            margin-top: 1rem;

                            .header_button-login {
                                color: $Very-dark-desaturated-blue;
                                font-size: 1.3rem;
                            }

                            .header_button-sign-up {
                                background: linear-gradient(
                                    100deg,
                                    $Very-light-red-1 20%,
                                    $Light-red
                                );
                                color: $White;
                                font-size: 1.3rem;
                            }
                        }

                        &.show_menu {
                            opacity: 1;
                        }
                    }
                }

                .hamburger_menu {
                    display: block;
                    opacity: 1;
                    width: 2.5rem;
                    height: 1.5rem;
                    margin-top: -0.2rem;

                    &.active {
                        display: none;
                    }
                }

                .close_menu {
                    display: none;
                    margin-top: -0.9rem;
                    width: 2.5rem;
                    height: 2.3rem;

                    &.active {
                        display: block;
                    }
                }
            }
        }

        .main_wrapper {
            .first_hero_wrapper {
                background-image: url("images/illustration-editor-mobile.svg");
                background-position: center 35%;
                background-size: auto;
                text-align: center;

                .first_title {
                    padding-block-start: 7rem;
                }

                .first_description_wrapper {
                    padding-inline: 3rem;
                    padding-top: 27rem;

                    .first_description_detail {
                        max-width: 100%;

                        .first_description_content {
                            margin-bottom: 3rem;
                        }
                    }
                }
            }

            .second_hero_wrapper {
                .second_description_wrapper {
                    margin-inline-start: 23rem;
                    padding-block-start: 5.3rem;

                    .second_title {
                        font-size: 1.9rem;
                    }

                    .second_content {
                        font-size: 0.9rem;
                    }
                }

                .illustration-phones-img {
                    width: 23rem;
                    top: 2rem;
                }
            }

            .third_hero_wrapper {
                background-image: url("images/illustration-laptop-mobile.svg");
                background-position: center 5%;
                background-size: auto;
                text-align: center;

                .third_description_wrapper {
                    margin-inline: 0;
                    padding-inline: 3rem;
                    max-width: 100%;
                    padding-top: 25rem;

                    .third_description_detail {
                        padding-inline-end: 0;
                    }
                }
            }
        }

        .footer_wrapper {
            padding-inline: 3rem;

            .footer_wrapperr {
                gap: 6rem;
            }
        }
    }
}

@include mediumPhoneScreen {
    body {
        .header_wrapper {
            padding-inline: 2rem;

            .header__nav {
                .sub_header_nav {
                    .header_nav_wrapper {
                        top: 3.5rem;
                        left: 2rem;
                        right: 2rem;

                        .navbar {
                            .header_dropdown_product,
                            .header_dropdown_company,
                            .header_dropdown_connect {
                                .content {
                                    ul {
                                        li {
                                            a {
                                                font-size: 1.1rem;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .header_button {
                            .header_button-login {
                                width: 100%;
                                font-size: 1.1rem;
                            }

                            .header_button-sign-up {
                                font-size: 1.1rem;
                            }
                        }
                    }
                }

                .hamburger_menu {
                    margin-top: -0.4rem;
                }

                .close_menu {
                    margin-top: -0.9rem;
                }
            }

            .header_intro_wrapper {
                .header_intro {
                    font-size: 2.2rem;
                }

                .sub_header_intro {
                    font-size: 1.1rem;
                }
            }
        }

        .main_wrapper {
            .first_hero_wrapper {
                background-position: center 27%;

                .first_title {
                    font-size: 2rem;
                }

                .first_description_wrapper {
                    padding-top: 28rem;
                }
            }

            .second_hero_wrapper {
                margin-top: 20rem;
                padding-inline-end: 0;
                background-position: center 200%;
                background-color: $Very-dark-gray-blue;
                background-size: 100%;

                .second_description_wrapper {
                    margin-top: 2.7rem;
                    margin-inline-start: 0;
                    text-align: center;
                    padding-inline: 2rem;
                    padding-block-start: 8rem;
                    padding-block-end: 3rem;

                    .second_title {
                        font-size: 2rem;
                    }

                    .second_content {
                        font-size: 0.9rem;
                    }
                }

                .illustration-phones-img {
                    width: 100%;
                    top: -15rem;
                    right: 0;
                    left: 0;
                }
            }

            .third_hero_wrapper {
                background-position: center 27%;
                background-size: 100%;

                .third_description_wrapper {
                    padding-inline: 2rem;
                    padding-top: 31rem;

                    .third_description_detail {
                        .third_description_content {
                            margin-bottom: 3rem;
                            padding-top: 1rem;
                        }
                    }
                }
            }
        }

        .footer_wrapper {
            margin-top: 10rem;
            text-align: center;

            .footer_wrapperr {
                flex-direction: column;
                gap: 2rem;

                .footer_content {
                    flex-direction: column;
                    row-gap: 4rem;

                    .footer_content_wrapper {
                        .footer_title {
                            padding-bottom: 2rem;
                        }
                    }
                }
            }
        }
    }
}

@include phoneScreen {
    body {
        .main_wrapper {
            .first_hero_wrapper {
                background-position: center 28%;

                .first_title {
                    font-size: 1.7rem;
                }

                .first_description_wrapper {
                    padding-inline: 2rem;
                    padding-top: 30rem;
                }
            }

            .second_hero_wrapper {
                .second_description_wrapper {
                    margin-top: 1.7rem;
                    padding-inline: 1rem;

                    .second_title {
                        font-size: 1.6rem;
                    }

                    .second_content {
                        padding-block-start: 0.9rem;
                        font-size: 0.7rem;
                    }
                }
            }

            .third_hero_wrapper {
                .third_description_wrapper {
                    padding-top: 29rem;
                }
            }
        }
    }
}

@include smallPhoneScreen {
    body {
        .header_wrapper {
            background-image: url("images/bg-pattern-intro-mobile.svg"),
                linear-gradient(130deg, $Very-light-red-1 50%, $Light-red);
            background-position: 40.3% 40.2%; // x%, y%
            background-size: fill;
            padding-inline: 2.5rem;

            .header__nav {
                .header_logo {
                    width: 6rem;
                }

                .sub_header_nav {
                    .header_nav_wrapper {
                        left: 2.5rem;
                        right: 2.5rem;

                        .navbar {
                            padding-inline: 0;
                            padding-block-start: 1rem;

                            .header_dropdown_product,
                            .header_dropdown_company,
                            .header_dropdown_connect {
                                .content {
                                    padding-top: 2.3rem;

                                    ul {
                                        li {
                                            a {
                                                font-size: 1.1rem;
                                            }
                                        }
                                    }
                                }
                            }

                            .dropdown_label_wrapper {
                                .dropdown_category {
                                    font-size: 1.1rem;
                                    margin-bottom: 2rem;
                                }
                            }
                        }

                        .header_button {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            width: auto;
                            margin-inline: auto;

                            .header_button-login {
                                width: 100%;
                                font-size: 1.1rem;
                            }

                            .header_button-sign-up {
                                font-size: 1.1rem;
                            }
                        }
                    }
                }

                .hamburger_menu {
                    margin-top: -0.6rem;
                    width: 2rem;
                    height: 1.2rem;
                }

                .close_menu {
                    margin-top: -1.1rem;
                    width: 2rem;
                    height: 1.8rem;
                }
            }

            .header_intro_wrapper {
                .header_intro {
                    font-size: 2rem;
                }
            }

            .header_button_intro {
                margin-top: 2.2rem;

                .button_intro_left {
                    padding: 0.7rem 1.7rem;
                    font-size: 0.8rem;
                }

                .button_intro_right {
                    padding: 0.7rem 1.7rem;
                    font-size: 0.8rem;
                }
            }
        }

        .main_wrapper {
            .first_hero_wrapper {
                background-position: center 24%;
                background-size: 100%;

                .first_title {
                    font-size: 1.8rem;
                }

                .first_description_wrapper {
                    padding-top: 22rem;

                    .first_description_detail {
                        .first_description_content {
                            margin-bottom: 2rem;
                        }
                    }
                }
            }

            .second_hero_wrapper {
                background-position: center 400%;

                .second_description_wrapper {
                    padding-block-start: 6.3rem;
                    padding-inline: 2rem;
                    padding-top: auto;

                    .second_title {
                        font-size: 1.8rem;
                    }
                }
            }
        }
    }
}

@include smallerDevices {
    body {
        .header_wrapper {
            padding-inline: 2rem;
            padding-block-end: 3.5rem;

            .header__nav {
                padding-block: 3.7rem;
            }

            .header_intro_wrapper {
                .header_intro {
                    margin-top: -1.7rem;
                    font-size: 1.8rem;
                }

                .sub_header_intro {
                    font-size: smaller;
                }
            }

            .header_button_intro {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin-top: 1rem;
            }
        }

        .main_wrapper {
            .first_hero_wrapper {
                background-position: center 27%;
                background-size: 100%;

                .first_title {
                    font-size: 1.5rem;
                }

                .first_description_wrapper {
                    padding-inline: 2rem;
                    padding-top: 19rem;

                    .first_description_detail {
                        .first_description_title {
                            font-size: 1.7rem;
                        }

                        .first_description_content {
                            font-size: 0.7rem;
                        }
                    }
                }
            }

            .second_hero_wrapper {
                background-size: 100%;
                background-position: center -500%;

                .second_description_wrapper {
                    margin-top: 3.3rem;

                    .second_title {
                        font-size: 1.26rem;
                    }

                    .second_content {
                        font-size: 0.65rem;
                    }
                }

                .illustration-phones-img {
                    top: -10rem;
                }
            }

            .third_hero_wrapper {
                .third_description_wrapper {
                    padding-top: 26rem;
                }
            }
        }
    }
}
