// Primary
$Light-red: hsl(356, 100%, 66%); // (CTA text)
$Very-light-red: hsl(355, 100%, 74%); // (CTA hover background)
$Very-dark-blue: hsl(208, 49%, 24%); // (headings)

// Neutral
$White: hsl(0, 0%, 100%); // (text)
$Grayish-blue: hsl(240, 2%, 79%); // (footer text)
$Very-dark-grayish-blue: hsl(207, 13%, 34%); //  (body copy)
$Very-dark-black-blue: hsl(240, 10%, 16%); // (footer background)

// Gradient
// Background gradient - Intro/CTA mobile nav:
$Very-light-red-1: hsl(13, 100%, 72%);

// Background gradient - body:
$Very-dark-gray-blue: hsl(237, 17%, 21%);
$Very-dark-desaturated-blue: hsl(237, 23%, 32%);

@mixin keyframes($animation-name) {
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
    -webkit-animation: #{$str};
    animation: #{$str};
}

@include keyframes(scale-down) {
    0% {
        scale: 100%;
    }
    100% {
        scale: 20%;
    }
}

@include keyframes(rotation) {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(180deg);
    }
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    .header_wrapper {
        background-image: url("images/bg-pattern-intro-desktop.svg"),
            linear-gradient(130deg, $Very-light-red-1 50%, $Light-red);
        background-position: 25.3% 52.2%; // x%, y%
        background-repeat: no-repeat;
        background-size: auto;
        min-height: 66.8dvh;
        padding-inline: 10.25rem;
        border-bottom-left-radius: 6.2rem;
        font-family: "Ubuntu", sans-serif;

        .header__nav {
            display: flex;
            align-items: center;
            padding-block: 4.8rem;
            column-gap: 4rem;

            .header_logo {
                width: 7.65rem;
                margin-top: -1.05rem;
            }

            .sub_header_nav {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                width: 100%;

                .header_nav_wrapper {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    width: 100%;

                    .navbar {
                        display: flex;
                        justify-content: flex-start;
                        align-items: flex-start;
                        gap: 1.9rem;
                        color: $White;
                        font-weight: 700;
                        font-size: 1rem;

                        .header_dropdown_product,
                        .header_dropdown_company,
                        .header_dropdown_connect {
                            .content {
                                position: absolute;
                                top: auto;
                                opacity: 0;
                                cursor: pointer;
                                background-color: $White;
                                margin-top: 0.7rem;
                                width: 190px;
                                padding-inline: 3rem;
                                padding-block: 1.5rem;
                                border-radius: 0.5rem;
                                transition: 0.3s linear;

                                ul {
                                    li {
                                        margin-bottom: 0.8rem;

                                        a {
                                            color: $Very-dark-black-blue;
                                            font-weight: 400;

                                            &:hover {
                                                font-weight: 700;
                                            }
                                        }
                                    }
                                }

                                &.active {
                                    position: absolute;
                                    top: auto;
                                    opacity: 1;
                                }
                            }
                        }

                        .dropdown_label_wrapper {
                            display: flex;
                            justify-content: flex-start;
                            align-items: baseline;

                            .dropdown_category {
                                padding-right: 0.4rem;
                                cursor: pointer;
                                background-color: transparent;
                                color: $White;
                                font-weight: 700;
                                font-size: 1rem;

                                &::after {
                                    content: "";
                                    display: block;
                                    border-bottom: 2px solid $White;
                                    transform: scaleX(0);
                                    transform-origin: left;
                                    transition: 0.2s linear;
                                }

                                &.active,
                                &:hover {
                                    &::after {
                                        transform: scaleX(1);
                                    }
                                }
                            }

                            .dropdown_arrow_sign {
                                transition: all 0.2s linear;
                                background-color: transparent;

                                &.rotate {
                                    transform: rotate(180deg);
                                }
                            }
                        }
                    }

                    .header_button {
                        display: flex;
                        justify-content: flex-end;
                        align-items: flex-start;
                        gap: 0.6rem;
                        margin-top: -0.97rem;
                        font-family: "Ubuntu", sans-serif;

                        .header_button-login {
                            background-color: transparent;
                            color: $White;
                            padding: 1rem 1.4rem;
                            font-size: 1rem;
                            font-weight: 700;

                            &:active {
                                @include animation("scale-down 0.1s");
                            }
                        }

                        .header_button-sign-up {
                            background-color: $White;
                            color: $Light-red;
                            padding: 0.95rem 2.3rem;
                            border-radius: 25px;
                            font-size: 1rem;
                            font-weight: 700;

                            &:hover {
                                background-color: hsla(0, 0%, 100%, 0.251);
                                color: $White;
                            }

                            &:active {
                                @include animation("scale-down 0.1s");
                            }
                        }
                    }
                }
            }

            .hamburger_menu {
                display: none;
            }

            .close_menu {
                display: none;
            }
        }

        .header_intro_wrapper {
            font-family: "Overpass", sans-serif;
            color: $White;

            .header_intro {
                margin-top: 3rem;
                text-align: center;
                font-size: 3.76rem;
                font-weight: 500;
                letter-spacing: -0.019rem;
            }

            .sub_header_intro {
                margin-top: 0.9rem;
                text-align: center;
                font-size: 1.07rem;
            }
        }

        .header_button_intro {
            display: flex;
            justify-content: center;
            margin-top: 2.8rem;
            gap: 1rem;
            font-family: "Ubuntu", sans-serif;
            cursor: pointer;

            .button_intro_left {
                background-color: $White;
                color: $Light-red;
                padding: 0.95rem 1.13rem;
                border-radius: 25px;
                font-size: 1rem;
                font-weight: 700;

                &:hover {
                    background-color: hsla(0, 0%, 100%, 0.251);
                    color: $White;
                }

                &:active {
                    @include animation("scale-down 0.1s");
                }
            }

            .button_intro_right {
                background-color: transparent;
                color: $White;
                border: 1px solid $White;
                border-radius: 25px;
                padding: 0.95rem 1.5rem;
                font-size: 1rem;
                font-weight: 700;

                &:hover {
                    background-color: $White;
                    color: $Light-red;
                }

                &:active {
                    @include animation("scale-down 0.1s");
                }
            }
        }
    }

    .main_wrapper {
        font-family: "Overpass", sans-serif;
        min-height: 270.5dvh;

        .first_hero_wrapper {
            background-image: url("images/illustration-editor-desktop.svg");
            background-repeat: no-repeat;
            background-size: auto;
            background-position: 153.3% 25%;
            min-height: 106.167dvh;

            .first_title {
                text-align: center;
                font-size: 2.35rem;
                font-weight: 500;
                letter-spacing: -0.009rem;
                padding-block-start: 9.8rem;
                color: $Very-dark-gray-blue;
            }

            .first_description_wrapper {
                padding-top: 6.5rem;
                padding-inline-start: 10.3rem;

                .first_description_detail {
                    max-width: 538px;

                    .first_description_title {
                        font-size: 1.74rem;
                        font-weight: 500;
                        color: $Very-dark-gray-blue;
                    }

                    .first_description_content {
                        padding-top: 1.6rem;
                        font-size: 0.837rem;
                        line-height: 1.63;
                        color: hsla(206, 13%, 34%, 0.719);
                        margin-bottom: 4.7rem;
                    }
                }
            }
        }

        .second_hero_wrapper {
            margin-top: 3.33rem;
            background: url("images/bg-pattern-circles.svg"),
                linear-gradient(
                    90deg,
                    $Very-dark-gray-blue,
                    $Very-dark-desaturated-blue
                );
            background-size: auto;
            background-repeat: no-repeat;
            background-position: -49% 82%;
            border-top-right-radius: 6.3rem;
            border-bottom-left-radius: 6.3rem;
            padding-inline: 3rem;
            min-height: 44.7dvh;
            position: relative;

            .second_description_wrapper {
                padding-block-start: 7.3rem;
                padding-inline-start: 42.5rem;
                color: $White;
                max-width: 100%;

                .second_title {
                    font-size: 3.5rem;
                    font-weight: 500;
                }

                .second_content {
                    padding-block-start: 1.4rem;
                    font-size: 1.2rem;
                    line-height: 1.6rem;
                }
            }

            .illustration-phones-img {
                position: absolute;
                top: -4.25rem;
                left: 5.8rem;
            }
        }

        .third_hero_wrapper {
            margin-block-start: 13rem;
            min-height: 113.633dvh;
            background-image: url("images/illustration-laptop-desktop.svg");
            background-repeat: no-repeat;
            background-size: auto;
            background-position: -10% 0%;

            .third_description_wrapper {
                padding-inline-start: 55rem;
                padding-block-start: 12rem;
                color: $Very-dark-desaturated-blue;

                .third_description_detail {
                    max-width: 540px;

                    .third_description_title {
                        font-size: 2.3rem;
                        font-weight: 500;
                        color: $Very-dark-gray-blue;
                    }

                    .third_description_content {
                        padding-top: 1.6rem;
                        font-size: 0.9rem;
                        line-height: 1.65;
                        color: hsla(206, 13%, 34%, 0.719);
                        margin-bottom: 4.7rem;
                    }
                }
            }
        }
    }

    .footer_wrapper {
        background-color: $Very-dark-black-blue;
        padding-inline: 13.3rem;
        padding-block: 4.1rem;
        font-family: "Ubuntu", sans-serif;
        border-top-right-radius: 6.3rem;
        margin-top: -6.9rem;
        position: relative;

        .footer_wrapperr {
            display: flex;
            gap: 11.5rem;

            .footer_content {
                display: flex;
                justify-content: space-between;
                padding-top: 0.6rem;
                width: 100%;

                .footer_content_wrapper {
                    .footer_title {
                        font-size: 0.93rem;
                        padding-bottom: 2.2rem;
                        color: $White;
                        font-weight: 600;
                    }

                    .footer_detail {
                        .footer_link {
                            margin-bottom: 1rem;
                            color: $White;
                            font-size: 0.95rem;
                            font-weight: 300;

                            .link {
                                color: $White;
                            }
                        }
                    }
                }
            }
        }

        .attribution {
            display: block;
            text-align: center;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            color: $White;

            a {
                color: rgb(0, 68, 255);

                &:visited {
                    color: lightcoral;
                }
            }
        }
    }
}

// Media Query
// 2xxxl
@media (max-width: 1600px) {
    body {
        .header_wrapper {
            background-position: 40.3% 52.2%;
            min-height: 100%;
            padding-bottom: 7rem;

            .header__nav {
                .header_logo {
                    width: 10rem;
                }

                .sub_header_nav {
                    .header_nav_wrapper {
                        align-items: baseline;

                        .navbar {
                            .dropdown_label_wrapper {
                                .dropdown_category {
                                    font-size: 1.3rem;
                                }
                            }
                        }

                        .header_button {
                            .header_button-login {
                                font-size: 1.3rem;
                                padding: 1.5rem 2.5rem;
                            }

                            .header_button-sign-up {
                                padding: 1.5rem 2.5rem;
                                border-radius: 50px;
                                font-size: 1.3rem;
                            }
                        }
                    }
                }
            }

            .header_intro_wrapper {
                margin-top: 3rem;

                .header_intro {
                    font-size: 5rem;
                }

                .sub_header_intro {
                    font-size: 2rem;
                }
            }

            .header_button_intro {
                margin-top: 5rem;

                .button_intro_left {
                    padding: 1.7rem 2.5rem;
                    border-radius: 50px;
                    font-size: 1.5rem;
                }

                .button_intro_right {
                    border: 1px solid $White;
                    border-radius: 50px;
                    padding: 1.7rem 2.5rem;
                    font-size: 1.5rem;
                }
            }
        }

        .main_wrapper {
            .first_hero_wrapper {
                background-position: 120% 50%;

                .first_title {
                    font-size: 2.8rem;
                }

                .first_description_wrapper {
                    padding-top: 6.5rem;
                    padding-inline-start: 10.3rem;

                    .first_description_detail {
                        max-width: 600px;

                        .first_description_title {
                            font-size: 2.3rem;
                        }

                        .first_description_content {
                            font-size: 0.9rem;
                        }
                    }
                }
            }
        }
    }
}

// 2xxl
@media (max-width: 1536px) {
    body {
        .header_wrapper {
            .header_intro_wrapper {
                margin-top: 3rem;

                .header_intro {
                    font-size: 3.9rem;
                }

                .sub_header_intro {
                    font-size: 1.7rem;
                }
            }

            .header_button_intro {
                .button_intro_left {
                    padding: 1.5rem 2rem;
                    font-size: 1.3rem;
                }

                .button_intro_right {
                    padding: 1.5rem 2rem;
                    font-size: 1.3rem;
                }
            }
        }

        .main_wrapper {
            .second_hero_wrapper {
                .second_description_wrapper {
                    .second_title {
                        font-size: 3rem;
                    }
                }
            }

            .third_hero_wrapper {
                .third_description_wrapper {
                    .third_description_detail {
                        max-width: 600px;
                    }
                }
            }
        }
    }
}

// 2xl
@media (max-width: 1440px) {
    body {
        .header_wrapper {
            background-position: 40.3% 52.2%;
            min-height: 100%;
            padding-bottom: 9.7rem;

            .header__nav {
                .header_logo {
                    width: 7.7rem;
                    margin-top: -1.8rem;
                }

                .sub_header_nav {
                    .header_nav_wrapper {
                        align-items: baseline;
                        margin-top: -0.9rem;

                        .navbar {
                            .dropdown_label_wrapper {
                                .dropdown_category {
                                    font-size: 0.999rem;
                                }
                            }
                        }

                        .header_button {
                            margin-top: -0.7rem;

                            .header_button-login {
                                font-size: 1rem;
                                padding: 1.5rem 1.3rem;
                            }

                            .header_button-sign-up {
                                padding: 0.93rem 2.3rem;
                                border-radius: 50px;
                                font-size: 1rem;
                                margin-top: 0.47rem;
                            }
                        }
                    }
                }
            }

            .header_intro_wrapper {
                margin-top: -0.6rem;

                .header_intro {
                    font-size: 3.75rem;
                }

                .sub_header_intro {
                    font-size: 1.23rem;
                }
            }

            .header_button_intro {
                margin-top: 3.05rem;

                .button_intro_left {
                    padding: 0.9rem 1.1rem;
                    font-size: 1rem;
                }

                .button_intro_right {
                    padding: 0.9rem 1.6rem;
                    font-size: 1rem;
                }
            }
        }

        .main_wrapper {
            .first_hero_wrapper {
                background-position: 153.3% 97%;

                .first_title {
                    font-size: 2.35rem;
                }

                .first_description_wrapper {
                    .first_description_detail {
                        max-width: 538px;

                        .first_description_title {
                            font-size: 1.74rem;
                        }

                        .first_description_content {
                            font-size: 1.06rem;
                        }
                    }
                }
            }

            .second_hero_wrapper {
                padding-inline: 8.5rem;

                .second_description_wrapper {
                    padding-inline-start: 37.5rem;
                    padding-inline-end: 2rem;

                    .second_title {
                        font-size: 2.33rem;
                    }

                    .second_content {
                        font-size: 1.055rem;
                        line-height: 1.75rem;
                    }
                }

                .illustration-phones-img {
                    top: -4.3rem;
                    left: 7.8rem;
                }
            }

            .third_hero_wrapper {
                margin-block-start: 7rem;
                background-position: -60% 2%;

                .third_description_wrapper {
                    padding-inline-start: 45.8rem;

                    .third_description_detail {
                        max-width: 540px;

                        .third_description_title {
                            font-size: 1.77rem;
                        }

                        .third_description_content {
                            font-size: 1.065rem;
                            margin-bottom: 4.5rem;
                        }
                    }
                }
            }
        }

        .footer_wrapper {
            padding-inline: 10.3rem;

            .footer_wrapperr {
                .footer_logo {
                    padding-top: 0.3rem;
                }

                .footer_content {
                    justify-content: flex-start;
                    column-gap: 12.6rem;
                    padding-top: 0.75rem;

                    .footer_content_wrapper {
                        &:last-child {
                            margin-left: 1.1rem;
                        }
                    }
                }
            }
        }
    }
}

/* xl */
@media (max-width: 1280px) {
    body {
        .header_wrapper {
            background-position: 40.3% 52.2%;
            min-height: 100%;
            padding-bottom: 7rem;
            padding-inline: 6rem;

            .header__nav {
                column-gap: 3rem;

                .header_logo {
                    width: 8rem;
                    margin-top: 0;
                }

                .sub_header_nav {
                    .header_nav_wrapper {
                        margin-top: 0;

                        .navbar {
                            .dropdown_label_wrapper {
                                .dropdown_category {
                                    font-size: 1.2rem;
                                }
                            }
                        }

                        .header_button {
                            margin-top: 0;

                            .header_button-login {
                                font-size: 1.2rem;
                            }

                            .header_button-sign-up {
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
            }

            .header_intro_wrapper {
                margin-top: 0;

                .header_intro {
                    font-size: 4.72rem;
                }

                .sub_header_intro {
                    font-size: 1.8rem;
                }
            }

            .header_button_intro {
                .button_intro_left {
                    padding: 1.5rem 2.5rem;
                    font-size: 1.3rem;
                }

                .button_intro_right {
                    padding: 1.5rem 2.5rem;
                    font-size: 1.3rem;
                }
            }
        }

        .main_wrapper {
            .first_hero_wrapper {
                background-position: 130% 50%;
                background-size: 60% auto;

                .first_title {
                    font-size: 2.5rem;
                }

                .first_description_wrapper {
                    padding-top: 3rem;
                    padding-inline-start: 6.3rem;

                    .first_description_detail {
                        .first_description_content {
                            font-size: 0.8rem;
                        }
                    }
                }
            }

            .second_hero_wrapper {
                padding-inline: 5rem;
                padding-block-end: 5rem;

                .second_description_wrapper {
                    padding-inline-end: 0;
                }
            }

            .third_hero_wrapper {
                background-position: -50% 2%;
                background-size: 70% auto;

                .third_description_wrapper {
                    padding-inline-start: 42rem;
                    padding-block-start: 8rem;
                }
            }
        }

        .footer_wrapper {
            padding-inline: 8rem;

            .footer_wrapperr {
                .footer_content {
                    justify-content: space-between;
                    column-gap: 0;

                    .footer_content_wrapper {
                        &:last-child {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
}

/* lg */
@media (max-width: 1024px) {
    body {
        .header_wrapper {
            padding-inline: 5rem;

            .header__nav {
                column-gap: 2rem;

                .header_logo {
                    width: 9rem;
                }

                .sub_header_nav {
                    .header_nav_wrapper {
                        border-radius: 0.5rem;
                        flex-direction: column;
                        background-color: $White;
                        padding-inline: 2rem;
                        padding-block: 2rem;
                        margin-top: 4rem;
                        position: absolute;
                        width: auto;
                        left: 5rem;
                        right: 5rem;
                        top: -200%;
                        transition: all 0.3s ease-in-out;

                        .navbar {
                            display: block;
                            height: auto;
                            width: 100%;
                            padding-inline: 2rem;
                            padding-block-start: 2rem;
                            color: $Very-dark-desaturated-blue;
                            border-bottom: 1px solid $Very-dark-desaturated-blue;

                            .header_dropdown_product,
                            .header_dropdown_company,
                            .header_dropdown_connect {
                                .content {
                                    position: relative;
                                    top: auto;
                                    left: auto;
                                    right: auto;
                                    display: none;
                                    text-align: center;
                                    background-color: rgb(249, 232, 232);
                                    margin-top: -1rem;
                                    padding-top: 2.2rem;
                                    width: auto;

                                    ul {
                                        li {
                                            margin-bottom: 1rem;

                                            a {
                                                color: $Very-dark-grayish-blue;
                                                font-size: 1.2rem;
                                                font-weight: 600;

                                                &:hover {
                                                    color: $Very-dark-blue;
                                                }
                                            }
                                        }
                                    }

                                    &.active {
                                        position: relative;
                                        display: block;
                                        margin-bottom: 1rem;
                                    }
                                }
                            }

                            .dropdown_label_wrapper {
                                justify-content: center;

                                .dropdown_category {
                                    color: $Very-dark-gray-blue;
                                    font-size: 1.3rem;
                                    margin-bottom: 2.3rem;

                                    &::after {
                                        display: none;
                                    }

                                    &:active,
                                    &:hover {
                                        color: $Very-dark-grayish-blue;
                                    }
                                }

                                .dropdown_arrow_sign {
                                    .arrow_color {
                                        path {
                                            stroke: red;
                                        }
                                    }
                                }
                            }
                        }

                        .header_button {
                            display: block;
                            width: 100%;
                            background-color: $White;
                            padding-block: 0rem;
                            text-align: center;
                            margin-top: 1rem;

                            .header_button-login {
                                color: $Very-dark-desaturated-blue;
                                font-size: 1.3rem;
                            }

                            .header_button-sign-up {
                                background: linear-gradient(
                                    100deg,
                                    $Very-light-red-1 20%,
                                    $Light-red
                                );
                                color: $White;
                                font-size: 1.3rem;
                            }
                        }

                        &.show_menu {
                            top: 6rem;
                        }
                    }
                }

                .hamburger_menu {
                    display: block;
                    opacity: 1;
                    width: 2.5rem;
                    height: 1.5rem;

                    &.active {
                        display: none;
                    }
                }

                .close_menu {
                    display: none;
                    width: 2.5rem;
                    height: 2.3rem;

                    &.active {
                        display: block;
                    }
                }
            }

            .header_intro_wrapper {
                margin-top: 4rem;

                .header_intro {
                    font-size: 3.8rem;
                }

                .sub_header_intro {
                    font-size: 1.7rem;
                }
            }
        }

        .main_wrapper {
            .first_hero_wrapper {
                background-position: center 42%;
                min-height: auto;

                .first_description_wrapper {
                    padding-top: 40rem;
                    padding-inline: 6.3rem;
                    text-align: center;

                    .first_description_detail {
                        max-width: 100%;
                    }
                }
            }

            .second_hero_wrapper {
                margin-top: 20rem;
                min-height: auto;
                padding-inline: 3rem;

                .second_description_wrapper {
                    padding-block-start: 20rem;
                    padding-inline-start: 0;
                    text-align: center;
                }

                .illustration-phones-img {
                    top: -15rem;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }

            .third_hero_wrapper {
                background-position: center 2%;
                background-size: 60% auto;
                min-height: auto;

                .third_description_wrapper {
                    padding-inline: 6.3rem;
                    padding-block-start: 34rem;
                    text-align: center;

                    .third_description_detail {
                        max-width: 100%;
                    }
                }
            }
        }

        .footer_wrapper {
            margin-top: 10rem;
            padding-inline: 6rem;

            .footer_wrapperr {
                gap: 8rem;
            }
        }
    }
}

/* md */
@media (max-width: 768px) {
    body {
        .header_wrapper {
            padding-inline: 3.5rem;

            .header__nav {
                column-gap: 0;

                .sub_header_nav {
                    .header_nav_wrapper {
                        left: 3.5rem;
                        right: 3.5rem;
                    }
                }
            }
        }

        .main_wrapper {
            .first_hero_wrapper {
                background-size: 75% auto;

                .first_description_wrapper {
                    padding-inline: 6.3rem;
                    text-align: center;
                }
            }

            .second_hero_wrapper {
                .second_description_wrapper {
                    .second_title {
                        font-size: 2.5rem;
                    }

                    .second_content {
                        font-size: 1rem;
                    }
                }
            }

            .third_hero_wrapper {
                background-size: 75% auto;

                .third_description_wrapper {
                    padding-block-start: 32rem;
                }
            }
        }

        .footer_wrapper {
            .footer_wrapperr {
                flex-direction: column;
                gap: 2rem;

                .footer_logo {
                    .logo {
                        width: 10rem;
                    }
                }

                .footer_content {
                    justify-content: flex-start;
                    flex-direction: column;
                    row-gap: 3rem;

                    .footer_content_wrapper {
                        .footer_title {
                            font-size: 1.3rem;
                            padding-bottom: 1.2rem;
                        }

                        .footer_detail {
                            .footer_link {
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* sm */
@media (max-width: 640px) {
    body {
        .header_wrapper {
            .header_intro_wrapper {
                margin-top: 0;

                .header_intro {
                    font-size: 2.8rem;
                }

                .sub_header_intro {
                    font-size: 1.1rem;
                }
            }

            .header_button_intro {
                .button_intro_left {
                    font-size: 1.1rem;
                }

                .button_intro_right {
                    font-size: 1.1rem;
                }
            }
        }

        .main_wrapper {
            .first_hero_wrapper {
                background-position: center 39%;
                background-size: 80% auto;

                .first_description_wrapper {
                    padding-top: 35rem;
                    padding-inline: 4.3rem;
                }
            }

            .second_hero_wrapper {
                background-position: 49% 120%;

                .illustration-phones-img {
                    width: 85%;
                }
            }

            .third_hero_wrapper {
                background-size: 80% auto;

                .third_description_wrapper {
                    padding-block-start: 28rem;
                    padding-inline: 4.3rem;
                }
            }
        }

        .footer_wrapper {
            .footer_wrapperr {
                .footer_logo {
                    .logo {
                        width: 8rem;
                    }
                }
            }
        }
    }
}

/* xs */
@media (max-width: 475.98px) {
    body {
        .header_wrapper {
            padding-inline: 2.3rem;

            .header__nav {
                .sub_header_nav {
                    .header_nav_wrapper {
                        .navbar {
                            padding-inline: 0;

                            .header_dropdown_product,
                            .header_dropdown_company,
                            .header_dropdown_connect {
                                .content {
                                    padding-inline: 0;
                                }
                            }
                        }
                    }
                }
            }

            .header_intro_wrapper {
                .header_intro {
                    font-size: 2.3rem;
                }

                .sub_header_intro {
                    font-size: 1rem;
                }
            }

            .header_button_intro {
                .button_intro_left {
                    font-size: 0.9rem;
                    padding: 1.5rem 2rem;
                }

                .button_intro_right {
                    font-size: 0.9rem;
                    padding: 1.5rem 2rem;
                }
            }
        }

        .main_wrapper {
            .first_hero_wrapper {
                background-image: url("images/illustration-editor-mobile.svg");
                background-position: center 30%;
                background-size: 100%;

                .first_title {
                    font-size: 2.1rem;
                }

                .first_description_wrapper {
                    padding-top: 28rem;
                    padding-inline: 3rem;

                    .first_description_detail {
                        .first_description_title {
                            font-size: 2rem;
                        }

                        .first_description_content {
                            font-size: 0.9rem;
                            margin-bottom: 3.7rem;
                        }
                    }
                }
            }

            .second_hero_wrapper {
                .second_description_wrapper {
                    .second_title {
                        font-size: 2rem;
                    }

                    .second_content {
                        font-size: 0.9rem;
                    }
                }

                .illustration-phones-img {
                    top: -10rem;
                    width: 100%;
                }
            }

            .third_hero_wrapper {
                background-image: url("images/illustration-laptop-mobile.svg");
                background-size: auto;

                .third_description_wrapper {
                    padding-block-start: 25rem;
                    padding-inline: 3rem;

                    .third_description_detail {
                        .third_description_title {
                            font-size: 2rem;
                        }

                        .third_description_content {
                            font-size: 0.9rem;
                            margin-bottom: 3.7rem;
                        }
                    }
                }
            }
        }

        .footer_wrapper {
            padding-inline: 0;
            text-align: center;
        }
    }
}

/* 2xs */
@media (max-width: 390.98px) {
    body {
        .main_wrapper {
            .second_hero_wrapper {
                .second_description_wrapper {
                    padding-block-start: 15rem;
                }
            }
        }

        .footer_wrapper {
            .footer_wrapperr {
                .footer_logo {
                    .logo {
                        width: 7rem;
                    }
                }
            }
        }
    }
}

/* 3xs */
@media (max-width: 375.98px) {
    body {
        .header_wrapper {
            .header__nav {
                .sub_header_nav {
                    .header_nav_wrapper {
                        left: 2.3rem;
                        right: 2.3rem;
                    }
                }
            }

            .header_intro_wrapper {
                .header_intro {
                    font-size: 1.9rem;
                }

                .sub_header_intro {
                    font-size: 0.8rem;
                }
            }

            .header_button_intro {
                .button_intro_left {
                    font-size: 0.7rem;
                    padding: 1.2rem 2rem;
                }

                .button_intro_right {
                    font-size: 0.7rem;
                    padding: 1.2rem 2rem;
                }
            }
        }

        .main_wrapper {
            .first_hero_wrapper {
                background-position: center 28%;

                .first_title {
                    font-size: 1.75rem;
                }

                .first_description_wrapper {
                    padding-top: 22rem;
                    padding-inline: 2rem;

                    .first_description_detail {
                        .first_description_title {
                            font-size: 1.7rem;
                        }
                    }
                }
            }

            .second_hero_wrapper {
                padding-inline: 2rem;
                margin-top: 15rem;

                .second_description_wrapper {
                    padding-block-start: 13rem;

                    .second_title {
                        font-size: 1.8rem;
                    }

                    .second_content {
                        font-size: 0.7rem;
                    }
                }
            }

            .third_hero_wrapper {
                background-size: 100%;

                .third_description_wrapper {
                    padding-block-start: 18rem;
                    padding-inline: 2rem;

                    .third_description_detail {
                        .third_description_title {
                            font-size: 1.7rem;
                        }
                    }
                }
            }
        }
    }
}

/* 4xs */
@media (max-width: 320.98px) {
    body {
        .header_wrapper {
            .header_intro_wrapper {
                .header_intro {
                    font-size: 1.7rem;
                }
            }

            .header_button_intro {
                display: flex;
                flex-direction: column;
                width: 100%;

                .button_intro_left {
                    font-size: 0.9rem;
                }

                .button_intro_right {
                    font-size: 0.9rem;
                }
            }
        }

        .main_wrapper {
            .first_hero_wrapper {
                background-position: center 31%;

                .first_title {
                    font-size: 1.5rem;
                }

                .first_description_wrapper {
                    padding-top: 18rem;

                    .first_description_detail {
                        .first_description_title {
                            font-size: 1.5rem;
                        }

                        .first_description_content {
                            padding-top: 1.3rem;
                            font-size: 0.7rem;
                        }
                    }
                }
            }

            .second_hero_wrapper {
                margin-top: 20rem;

                .second_description_wrapper {
                    padding-block-start: 10.5rem;

                    .second_title {
                        font-size: 1.5rem;
                    }
                }
            }

            .third_hero_wrapper {
                .third_description_wrapper {
                    padding-block-start: 16rem;

                    .third_description_detail {
                        .third_description_title {
                            font-size: 1.5rem;
                        }

                        .third_description_content {
                            font-size: 0.7rem;
                            padding-top: 1.3rem;
                        }
                    }
                }
            }
        }
    }
}
